<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
  <h2 class="form-signin-heading">Please sign in</h2>
  <div class="alert alert-danger" *ngIf="error">
    <strong>{{error?.status}}</strong> {{error?.statusText}}
  </div>
  <div class="form-group" [ngClass]="{'has-error': !isLoginValid()}">
    <input type="text" id="inputLogin" class="form-control" placeholder="User name"
           formControlName="login"
           [ngClass]="{ 'form-control-danger': !isLoginValid() }">
  </div>
  <div class="form-group" [ngClass]="{'has-error': !isPasswordValid()}">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
           formControlName="password"
           [ngClass]="{ 'form-control-danger': !isPasswordValid() }">
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="isFormInvalid()">Sign in</button>
</form>
