<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div>
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="./dashboard">Dashboard</a></li>
      </ul>
    </div>
    <p class="navbar-text navbar-right">
      <a [routerLink]="[ '', { outlets: { modal: ['logout'] } }]" class="navbar-link">Logout</a>
    </p>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
