<div class="modal" [ngStyle]="{display: 'block'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Are you sure?
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        <a class="btn btn-danger btn-ok" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>